# Firebase Configuration (Vercel)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_DATABASE_ID=

# Stripe API Keys
STRIPE_SECRET_KEY=sk_test_51TIMYiQM57et3KD9lHFzUiBXFh0QLkPGF0qfhRfnuI9V1U8WnYsUsqOJ5f2uKF8sc2djLvvddff3ncMJLjj958vi00djkD87tv
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TIMYiQM57et3KD9tQLwp2Yt67LiInp1qE2DPM5GAwvbxpvrjQqeTq6BYLwn7ZFzzSb1LZT3SbEG2X6lt0nQukzX00FDm4C2SA

# PIX Configuration
VITE_PIX_KEY=52884159000110
VITE_PIX_NAME=Marques Instalacao E Manutencao Ltda
VITE_PIX_CITY=Rio de Janeiro
